<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org"
      xmlns:xsi="http://w3.org"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<!-- ログの出力先（ターゲット）の設定 -->
	<targets>
		<!-- ファイルへの出力 -->
		<target xsi:type="File" name="allfile" fileName="logs/app-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
	</targets>
	
	<rules>
		<logger name="System.*" maxlevel="Info" final="true" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Info" writeTo="allfile" />
	</rules>
	
</nlog>